include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
recursive-include malay_normalizer *.py
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.pyc
global-exclude .DS_Store
